@inject Microsoft.AspNetCore.Identity.SignInManager<AppointmentScheduler.Models.ApplicationUser> signInManager
@if (signInManager.IsSignedIn(User))
{
<form id="logoutForm" asp-controller="Account" asp-action="Logout" method="post">
    <ul class="nav navbar-nav">
        <li class="text-white nav-link">Hi, @User.Identity.Name.</li>
        <li><a class="text-white nav-link" href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
    </ul>
</form>
}
else
{
<ul class="nav navbar-nav">
    <li>
        @*@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })*@
        <a class="nav-link text-white" id="registerLink" asp-action="Register" asp-controller="Account">Register</a>
    </li>
    <li>
        @*@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "LoginLink" })*@
        <a class="nav-link text-white" id="loginLink" asp-action="Login" asp-controller="Account">Sign In</a>

    </li>
</ul>
}